.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.navbar-nav li{
  display: inline-block ;
}

.loader{
  max-width: 100%;
  height: 50px;
  /* Center vertically and horizontally */
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.sign-color{
  color: #fff
}

.sign-color:hover{
  color: #fff
}

.detail{
  background: #20a020;
  color: #ffff;
  padding: 2rem;
  border-radius: .3rem;
  margin: .5rem
}

.dashboard-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.App-link {
  color: #61dafb;
}

.btn-primary-outline{
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.btn-primary-outline:hover{
  background-color: transparent;
  border: none;
  outline: none;
  box-shadow: none;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  grid-area: footer;
  background-color: #203040;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .5rem;
}

/* Result Modal */
.modal-confirm {
  color: #434e65;
  max-width: 100%;
}

.modal-confirm .modal-content {
  padding: 20px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 0px 7px grey;
}

.modal-confirm .modal-header-true {
  background: #47c9a2;
  border-bottom: none;
  position: relative;
  text-align: center !important;
  margin: -20px -20px 0;
  border-radius: 5px 5px 0 0;
  padding: 35px;
}

.modal-confirm .modal-header-false {
  background: #d13e3e;
  border-bottom: none;
  position: relative;
  text-align: center !important;
  margin: -20px -20px 0;
  border-radius: 5px 5px 0 0;
  padding: 35px;
}

.modal-confirm h4 {
  text-align: center;
  font-size: 36px;
  margin: 10px 0;
}

.modal-confirm .form-control,
.modal-confirm .btn {
  min-height: 40px;
  border-radius: 3px;
}

.modal-confirm .close {
  position: absolute;
  top: 15px;
  right: 15px;
  color: #fff;
  text-shadow: none;
  opacity: 0.5;
}

.modal-confirm .close:hover {
  opacity: 0.8;
}

.modal-confirm .icon-box {
  color: #fff;
  text-align: center !important;
}

.modal-confirm .icon-box i {
  border-radius: 50%;
  display: inline-block;
  z-index: 9;
  border: 5px solid #fff;
  padding: 15px;
  font-size: 62px;
  margin: -5px 0 0 -5px;
  text-align: center !important;
}

.modal-confirm.modal-dialog {
  margin-top: 50px;
}

.modal-confirm .btn {
  color: #fff;
  border-radius: 4px;
  background: #eeb711;
  text-decoration: none;
  transition: all 0.4s;
  line-height: normal;
  border-radius: 30px;
  margin-top: 10px;
  /* padding: 6px 20px; */
  border: none;
}

.modal-confirm .btn:hover,
.modal-confirm .btn:focus {
  background: #eda645;
  outline: none;
}

.model-text {
  font-size: 16px !important;
  font-weight: 500;
}

.modal-confirm .btn span {
  margin: 1px 3px 0;
  float: left;
}

.modal-confirm .btn i {
  margin-left: 1px;
  font-size: 20px;
  float: right;
}

.trigger-btn {
  display: inline-block;
  margin: 100px auto;
}

.font-circle {
  text-align: center !important;
  justify-self: center !important;
  margin-left: 170px;
}

.box {
  background: rgb(108, 216, 108);
  padding: 0.3rem 0.7rem 0rem 0.7rem;
  border: 0.2rem, solid, rgb(108, 216, 108);
  border-radius: 1rem;
  color: #fff;
  font-family: sans-serif;
}

.point-box {
  border: 0.2rem, solid, rgb(108, 216, 108);
  background: rgb(108, 216, 108);
  border-radius: 0.5rem;
  padding: 2.5rem 0.5rem 2.5rem 0.5rem;
  color: #fff;
  font-family: sans-serif;
  text-align: center;
}

.color{
  color: red
}

.modal-body h4, h5{
  color: green;
  font-weight: 300
}

.center{
  /* Center vertically and horizontally */
  text-align:center
}

.fa-map-marker{
  font-size: 2rem
}


/* Add Farm Package */
.farm-form{
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.comply-box{
  background: green;
  font-size: 1.2rem;
  font-weight: 500;
  font-family: sans-serif;
  color: #ffff;
  padding: .6rem;
}


.note-container{
  background: grey;
  color:#ffff;
  padding: .7rem;
  margin-bottom: 2rem;
}

/* Profile */
.user-img{
  width: 70%
}

.packages-row{
  margin-top: 3rem;
}

.packages-row ul {
  list-style: none;
  padding: 0;
}

.packages-row ul li {
  margin-top: 1rem;
  padding-bottom: .3rem;
  padding-right: .4rem
}

.packages-row .icon{
  background: green;
  color: #ffff;
  padding: .2rem;
  border-radius: 1rem;
  font-size: .3rem
}

.point-text{
  color: #ffff;
  background: green;
  padding: .6rem;
  border-radius: .4rem 0 0 .4rem;
}

.point-color{
  color: #ffff;
  background: green;
  padding: .6rem;
  border-radius: .4rem;
  width: 30%;
  font-size: 3rem;
  font-weight: 500;
}

.insu-info .fa-check {
  font-size: .2rem;
  padding-bottom: 5;
}

.fa-circle {
  font-size: .1rem;
}
.box-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.box-container div {
  width: 100%;
  height: 100%;
}

.circular-bar{
  width:10% !important
}
/* Progress Bar */
.containerStyles{
		width: 100%;
		background: #e0e0de;
		border-radius: 2rem;
		margin-bottom: 40px
}

.labelStyles{
  padding: 1.5rem;
	color: white;
	font-weight: bold ;
}

/* Profile */
.border-bottom h5{
  margin-top: 11px;
  font-size: .9rem;
}

.contain-box ul{ 
  display: flex;
  list-style: none;
  justify-content: space-between;
}

.info-container{
  background: grey;
  color: #ffff;
  font-size: 1rem;
  font-weight: 600;
  padding: .5rem;
  justify-content: center;
  font-family: sans-serif;

}

.info-contain{
  background: rgb(60, 226, 102);
  color: #ffff;
  font-size: 1rem;
  font-weight: 600;
  padding: .5rem;
  justify-content: center;
  font-family: sans-serif;
}

.expected-points{
  color: green;
}

.standard{
  background: rgb(60, 226, 198);
  color: #ffff;
  font-size: 1rem;
  font-weight: 600;
  padding: .5rem;
  justify-content: center;
  font-family: sans-serif;
  padding-left: .6rem; 
  margin-bottom: 6rem
}

.standard h4{
  font-size: 1.2rem;
  font-weight: 600;
}

/* Login */
.log-blk {
  border: 1px solid grey;
  border-radius: 5px;
  padding: 30px;
  margin: auto;
  margin-top: 50px;
}
.log-blk .text {
  text-align: center;
  font-size: 25px;
  margin-bottom: 20px;
}
.log-blk .log-ml {
  text-align: right !important;
}


/* MessageBox */
.loading {
  display: block !important;
}
.success {
  color: #20a020;
}
.danger {
  color: #a02020;
}
.alert {
  padding: 1rem;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
}
.alert-info {
  color: #2020a0;
  background-color: #e0e0ff;
}
.alert-danger {
  color: #a02020;
  background-color: #ffe0e0;
}
.alert-success {
  color: #20a020;
  background-color: #eeffe0;
}

.report{
  background: rgb(255, 78, 47);
  color: rgb(241, 238, 238);
  padding: .4rem;
  border-radius: .4rem;
  font-size: 1rem;
  font-weight: 600;

}

  .verify-text{
    font-size: 2.5rem;
    margin: 2rem;
    font-weight: 400
  }


.report:hover{
  color: rgb(254, 254, 254);
  background: rgba(203, 46, 18, 0.918)
}
/* New Farm */
.image-max-width{
  width: 100;
  height: 100%
}

/* Admin Dashboard */
.text-box{
  background: grey;
  text-align: center;
  padding: 2rem 2rem 2rem 2rem;
  font-size: 1rem;
  color: #ffff;
  margin-top: 1.5rem
}

.col-box{
  background: grey;
  text-align: center;
  padding: 4rem;
  color: #ffff;

}

.info_box_var_1.box_bg_a {
    background: #37BC9B;
}

.info_box_var_1 {
    color: #fff;
}

.info_box_var_1 .info_box_body {
    padding: 10px 20px;
    height: 60px;
    font: 300 32px/38px "Open Sans",Arial,sans-serif;
    position: relative;
}
.info_box_var_1 .info_box_body_bg {
    padding: 10px 20px;
    height: 140px;
    font: 300 40px/46px "Open Sans",Arial,sans-serif;
    position: relative;
}

.info_box_var_1 .info_box_body .info_box_icon {
    position: absolute;
    right: 20px;
    top: 14px;
    font-size: 32px;
    color: #fff;
}

.info_box_var_1 .info_box_footer {
    padding: 4px 20px;
    background: rgba(0,0,0,.2);
}

.info_box_var_1.box_bg_b {
    background: #DA4453;
}

.info_box_var_1.box_bg_c {
    background: #F6BB42;
}

.info_box_var_1.box_bg_d {
    background: #4A89DC;
}
.info_box_var_1.box_bg_e {
    background: #3c526f;
}

.info_box_var_1.box_bg_f {
    background: #4adcae;
}
@media (max-width: 425px) {

  .Code-Input{
    width: 50%;
    height: 50%
  }
  .QR-Scanner{
    width: 50%;
    height: 50%
  }

  .verify{
    padding: 2px;
  }

  .verify-text{
    font-size: 1.4rem
  }
  .info-container{
  font-size: .9rem;
  font-weight: 400;
}

.today-date{
  font-size: .8rem;
}
.info-contain{
  margin-top: .9rem
}

.comply-box{
  font-size: 1rem;
  font-weight: 500;
}
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
